[2021-12-10 16:51] milseman opened #63 "Syntax Status and Roadmap"
For the regex literal syntax, we're looking at supporting a syntactic superset of:

- [PCRE2](https://www.pcre.org/current/doc/html/pcre2syntax.html), an "industry standard" of sorts, and a rough superset of Perl, Python, etc.
- [Oniguruma](https://github.com/kkos/oniguruma/blob/master/doc/RE), an internationalization-oriented engine with some modern features
- [ICU](https://unicode-org.github.io/

[2021-12-13 02:21] milseman commented on #63
Lots of source location tracking in https://github.com/apple/swift-experimental-string-processing/pull/67. after that I'll probably start focusing more on other areas of the project.

[2021-12-14 08:55] rxwei opened #73 "Failing ParseableInterface test"
_MatchingEngine is failing the ParseableInterface test in the Swift repo.

[code]

[2021-12-14 09:26] rxwei commented on #73
Removing `@_alwaysEmitIntoClient` gets rid of the last error.

[code]

The remaining error still claims that it's using the unavailable'd method. Not sure why it did not resolve to the local definition of `replaceSubrange(_:with:)`.

[2021-12-14 09:36] rxwei commented on #73
`@_implements(RangeReplaceableCollection, replaceSubrange(_:with:))` doesn't work either:

[code]

[2021-12-14 13:53] milseman commented on #73
We can drop the attributes. They were for when Util was a separate module, and currently only benefit prototypes. Prototypes can issue function calls. I can look into removing RRC, because it mostly just needs append IIRC

[2021-12-17 15:19] hamishknight commented on #63
Escaped backreferences including maybe-octal-sequences in https://github.com/apple/swift-experimental-string-processing/pull/88

[2021-12-18 17:11] hamishknight commented on #63
Option parsing in https://github.com/apple/swift-experimental-string-processing/pull/91

[2022-01-04 15:46] milseman opened #99 "MatchingEngine Capabilities and Roadmap"
## Details

TODO

## Regex feature status

The matching engine supports (modulo bugs) the following

- Basic constructs: concatenation, alternation, non-capturing grouping, etc.
- Literal constructs: scalar literals, quotes,
- Character classes, custom and built-in
  - Including ranges, nested custom character classes, some set operations (e.g. subtraction), inversion, etc
- Quantification
  - eag

[2022-01-11 19:51] milseman opened #107 "Pitch and Proposal Status"
## Regex type and overview

- *TODO*: Draft/PR/Thread

Presents basic Regex type and gives an overview of how everything fits into the overall story

*TODO*: Should we pull more into this topic, perhaps either typed captures or more run-time creation aspects?

## Run-time Regex construction

- Pitch thread: [Regex Syntax](https://forums.swift.org/t/pitch-regex-syntax/55711)
    + Brief: Syntactic

[2022-01-15 18:41] milseman commented on #63
Swift-specific options for switching between matching semantic levels: https://github.com/apple/swift-experimental-string-processing/pull/112

[2022-01-17 12:32] hamishknight commented on #63
Conditional patterns in https://github.com/apple/swift-experimental-string-processing/pull/113

[2022-01-18 15:02] hamishknight opened #116 "AST post-processing"
This issue tracks logic that needs to be implemented after the parser has produced an AST.

To be implemented:
- Group reference validity checking (as group references may refer to groups that come after them)
  - This will require deciding how to handle the ambiguity with the syntax  `(?(xxx))`. PCRE always treats this as a named reference. .NET only treats it as a named reference if there is a g

[2022-01-18 15:17] hamishknight commented on #63
PCRE callouts, backtracking directives, and .NET balanced captures in https://github.com/apple/swift-experimental-string-processing/pull/117

[2022-01-20 17:46] milseman commented on #116
Is there global data we might also want to store?

[2022-01-20 21:26] hamishknight commented on #116
@milseman Did you have something specific in mind? Not sure if this is what you mean, but we will need to decide where to store the global matching options that PCRE allows to be parsed at the start of the regex, e.g `(*CR)` & `(*UTF)`. I have a patch that parses them, and for now stores them as an AST node that we'll produce if they're there. But it's possible we may want to have the parser produ

[2022-01-20 22:52] milseman commented on #116
It may make sense to have `struct AST` and `enum AST.Node`. So we have a struct that has an enum that stores structs...

[2022-01-21 10:54] hamishknight commented on #63
PCRE global options and Oniguruma recursion levels in https://github.com/apple/swift-experimental-string-processing/pull/123

After that, it's just the extended syntax, and Oniguruma callouts and absent functions.

[2022-01-21 11:01] hamishknight commented on #116
@milseman Makes sense, presumably recursive AST nodes would then store `AST.Node` instead of `AST`?

[2022-01-25 17:24] hamishknight commented on #63
Remaining Oniguruma-specific syntax in https://github.com/apple/swift-experimental-string-processing/pull/129

[2022-01-26 21:14] milseman opened #131 "Regex DSL Status"
TBD

[2022-01-26 21:17] milseman opened #132 "Regex API Status"
TBD

[2022-01-28 11:30] hamishknight commented on #63
Extended syntax in https://github.com/apple/swift-experimental-string-processing/pull/136

[2022-02-08 19:59] milseman commented on #107
Added some brief TODOs to help clarify the next tasks for each one

[2022-02-24 04:52] rxwei opened #184 "Unaligned store in `CaptureStructure.encode(to:)`"
https://gist.github.com/rjmccall/28fa7ff66402fddde4114970201f7da5

Reproducible with an asan build. (Thanks @rjmccall!)

[code]

[2022-02-24 17:11] stephentyrone commented on #184
First client for https://forums.swift.org/t/pitch-unaligned-loads-and-stores-from-raw-memory/55036?

[2022-02-24 21:34] glessard commented on #184
My suggestion:
[code]

[2022-02-24 23:20] #184 closed

[2022-02-25 19:35] itingliu commented on #107
Algorithms pitch draft is here: https://github.com/apple/swift-experimental-string-processing/pull/188

[2022-03-04 16:23] milseman commented on #63
Another one is Unicode scalar sequences ala https://unicode.org/reports/tr18/#RL1.1

[code]

[2022-03-17 12:48] milseman opened #213 "API design: Custom abort errors and API threading"
For our extension points, including tryCapture, a return of `nil` signals a local matching failure and backtrack. A `throw`n error aborts. How should we surface thrown errors, and are they worth threading through our API?

[2022-04-04 23:38] milseman commented on #107
This has been subsumed by a doc in the repo: https://github.com/apple/swift-experimental-string-processing/blob/main/Documentation/Evolution/ProposalOverview.md

[2022-04-04 23:38] #107 closed

[2022-04-10 12:57] milseman opened #262 "Engine limiters and checking task cancellation"
During proposal reviews, concerns of RDoS and responsivity came up. We should add engine limiters which can halt execution if some threshold is exceeded, either counted in time or number of byte code instructions (possibly proportional to input length). Additionally, we should check `Task.checkCancellation()` in case the parent task has been cancelled.

- Basic limiter infrastructure based on engi

[2022-04-11 18:25] rxwei opened #264 "Require unique names for named captures"
According to regex101, PCRE2 requires a unique name for each capture, but the current implementation of `Regex.init(compiling:)` doesn't throw an error when there's duplicate names.

[2022-04-11 18:26] rxwei opened #265 "Support dynamically obtaining the capture count from `Regex`"
[code]

[2022-04-11 18:26] rxwei opened #266 "Support obtaining captures by name on `AnyRegexOutput`"
[code]

[2022-04-11 18:28] rxwei opened #267 "`Regex.Match` element accessors should not materialize the whole output"
Currently `Regex.Match` element accessors are implemented this way:
[code]

This is not correct as we should not materialize the entire output.

[2022-04-12 18:59] natecook1000 opened #270 "Regex literals with invalid `\N{...}` names should not compile"
UTS18 makes a distinction between providing an invalid name in a Unicode property character class (`\p{name=...}`) and an individual named character (`\N{...}`). If a programmer uses an invalid name in a property character class, the expression should compile and that character class should simply not match anything:

[code]

However, an invalid name given in a `\N{...}` named character should be

[2022-04-14 00:30] natecook1000 opened #275 "Whitespace in CCCs in extended syntax causes trap when matching"
The following traps in `Processor.cycle()`, due to the unescaped space inside the custom character class:

[code]

Removing the space (`[\t]`) or escaping it (`[\ \t]`) resolves the crash.

[2022-04-14 17:02] #275 closed

[2022-04-15 07:01] rxwei opened #284 "Build warning "'matchLevel' is deprecated""
This warning has been around for some while in both the package and the compiler builds. Would be good to clear this.

[code]

[2022-04-15 21:14] rxwei opened #288 "Fails with release build configuration"
The string processing package (SwiftPM) fails to build in release mode because the PEG prototype uses `@testable import _StringProcessing` in order to access the matching engine. It’s not urgent to fix it since we don't ever release using SwiftPM, but i think we should either move PEG to a test target or make the matching engine symbols be SPI for PEG to access.

[2022-04-16 05:16] #288 closed

[2022-04-18 21:39] benlings commented on #264
A slight relaxation of requiring unique names for captures would be to only allow a name to correspond to a single capture index.

This would be following the advice given [here](https://www.regular-expressions.info/named.html#duplicate), and would be consistent with how captures are available in Tuple outputs.

[2022-04-19 16:11] #266 closed

[2022-04-19 16:17] milseman commented on #265
Would this be on `RegexComponent` or `Regex`? I'm not sure when/where you'd want to ask in a generic context where it would be unwieldy to ask the `var regex` on the component, and it seems a little weird for it to appear on conforming types such as `String`.

[2022-04-19 16:20] rxwei commented on #265
I think `RegexComponent`, because any regex component can be used as a standalone regex to match some string (by calling `String.wholeMatch`, etc).

Would it still be weird if we named it `regexCaptureCount` instead?

[2022-04-19 17:21] milseman commented on #265
Do we want 2 protocols? One that will be sufficient for generic algorithms and the other that will have a bunch of API dumped on it?

It's a little weird if, without importing anything, code completion on a string produces `regexCaptureCount`. We can talk about hiding it away I suppose, but it's weird to have a slew of regex-specific API on all of these types.

[2022-04-19 17:31] milseman opened #303 "Regex parser should be wary of combining characters"
The regex parser is based over `Character`, which is fine, but means that some programs could put combining scalars following meta characters and those will not compare equal. We have a few options:

- We process scalars instead
- We error out for any multi-scalar grapheme cluster that starts with a metacharacter scalar

The latter seems simpler and there's an easy (and highly advisable!) fall bac

[2022-04-20 23:02] itingliu opened #308 "`split` methods should have `maxSplits` and `omittingEmptySubsequences`"
`split` methods should have `maxSplits` and `omittingEmptySubsequences` configurations to match their stdlib `String` counterpart:

[code]
https://developer.apple.com/documentation/swift/string/2894564-split

[2022-04-21 15:03] natecook1000 opened #310 "`\N{name}` needs to use fuzzy matching"
The name in a `\N{...}` block should use fuzzy matching instead of exact equality.

[code]

[2022-04-21 16:26] natecook1000 opened #312 "Reject quantifiers on zero-width assertions"
A repeated assertion, like `\b+` causes an infinite loop, since it checks the same position over and over without advancing in the input. We should reject regexes with this pattern and prevent `RegexBuilder` regexes from creating them.

[2022-04-21 18:05] natecook1000 opened #314 "Bring pretty printer up to date"
The pretty printer converts a `Regex` defined in syntax into a `RegexBuilder`-style one, but it isn't up to date with the latest changes. This needs to be brought up to date, ideally with a validator that can take a regex and some input/output data, convert the regex to builder style, and then validate that both regexes have the same behavior.

For example, `#"(?P)\w+ \d{2,} -"#` converts to
[code

[2022-04-22 15:12] itingliu opened #320 "`@RegexComponentBuilder` overloads for collection algorithms"
Collection/string algorithms should include an overload of each one to take a `@RegexComponentBuilder`

[2022-04-22 18:02] itingliu opened #325 "Adopt lightweight generics for generic functions"
Functions that take a generic argument should adopt light weight generics and refer to the type directly as the argument type.

For example,
[code]
would be
[code]

Adoption of standard library types is blocked by https://github.com/apple/swift/pull/41843

[2022-04-24 03:44] christopherweems opened #340 "`Regex` is only available in macOS 9999 or newer"
[code]

Following these steps from the README doesn't seem to be all that is necessary to try out the Regex features with the `swift-DEVELOPMENT-SNAPSHOT-2022-04-21-a-osx` toolchain.

[2022-04-25 17:14] natecook1000 opened #345 "Strip extra protocols / implementations from algorithms"
For performance, see what we can remove from implementations.

[2022-04-25 17:46] natecook1000 opened #346 "Ensure that methods like trimPrefix dispatch correctly"
e.g. `trimPrefix` on `RangeReplaceableCollection` should call through to the customized version of RRC.

[2022-04-25 17:47] natecook1000 opened #347 "Decide on repeated empty match behavior"
Does `"1".matches(of: /(|\d)/)` match twice or three times?

[2022-04-25 18:08] natecook1000 opened #348 "Look at `resetStartOfMatch` behavior"
How are we handling this via DSL? How does it impact replacement?

[2022-04-25 20:51] itingliu commented on #320
PR: #342

[2022-04-26 16:49] milseman opened #357 "Parser should error out for unsupported runtime features"
Right now we will error out during regex-compilation for unsupported features or combinations, but the parser should also surface these errors for swift-compilation time.

[2022-04-27 03:05] christopherweems commented on #340
I've found a workable solution to my problem. If you know you're developing a package that will only support platforms that include the string processing APIs, you can disable availibility checking for now by adding the setting `.unsafeFlags(["-Xfrontend", "-disable-availability-checking"])` to your package manifest.

[2022-04-29 16:28] milseman opened #370 "Near-Future Work"
I want to gather up many areas of near-future work that we've been clarifying through the proposal reviews.

- Ability to use a `String`-backed, CaseIterable enum as a regex component
- Ability to `map` over a regex, perhaps per-capture, to supply post-processing transforms at regex declaration time
- Define errors types for compilation and type mismatches
- Callouts from literals
- Suffix / from-

[2022-05-03 20:15] hamishknight opened #375 "Fully implement matching logic of `\N` and `\R`"
`\R` currently uses `_CharacterClassModel` and doesn't appear to have the unicode scalar mode matching logic implemented. `\N` also uses `_CharacterClassModel`, but it seems like it ought to use `emitAny()` instead, as it should be identical to `.` except not being affected by `(?s)` (i.e never matching a newline).

[2022-05-03 20:16] hamishknight commented on #375
cc @natecook1000, I also noticed `\N` doesn't appear to be mentioned in the Unicode proposal, should it be?

[2022-05-05 15:35] hamishknight opened #380 "Implement parser warnings"
We should start emitting warnings for at least these cases:

- Unnecessary escaping (in e.g extended literals)
- Cases where `-` is treated as literal in a custom character class
- When `]` is treated as literal when it is the first member of a custom character class
- Certain non-canonical syntax?

[2022-05-05 15:36] hamishknight commented on #116
This is mostly handled by https://github.com/apple/swift-experimental-string-processing/pull/379, I've split off https://github.com/apple/swift-experimental-string-processing/issues/380 for the parser warnings.

[2022-05-06 13:44] milseman commented on #131
@rxwei can you incorporate anything here into separate issues (if this release) or https://github.com/apple/swift-experimental-string-processing/issues/370 for future? After that, we can close this

[2022-05-06 13:44] #132 closed

[2022-05-06 13:45] milseman commented on #116
@hamishknight should this be closed then or is it tracking something?

[2022-05-06 13:46] milseman commented on #213
We resolved this as `Regex` API will throw while string algorithms will squash into nil.

[2022-05-06 13:46] #213 closed

[2022-05-06 13:47] hamishknight commented on #116
I was going to close it with the merging of https://github.com/apple/swift-experimental-string-processing/pull/379, but am also happy to close now

[2022-05-06 13:53] milseman commented on #267
Is it possible to avoid the materialization?

[2022-05-06 13:53] milseman commented on #270
Update?

[2022-05-06 13:54] milseman commented on #284
@natecook1000 can you fix this and close this issue?

[2022-05-06 13:54] milseman commented on #303
@hamishknight do you think you could throw a few tests together and implement the second alternative?

[2022-05-06 13:54] milseman commented on #308
Was this done?

[2022-05-06 13:55] milseman commented on #310
Status?

[2022-05-06 13:55] milseman commented on #312
Status?

[2022-05-06 13:55] milseman commented on #314
@Azoy what's the status of this?

[2022-05-06 13:55] milseman commented on #320
Status?

[2022-05-06 13:58] milseman commented on #340
@rxwei is this the suggested workaround, and if so should we update the README?

[2022-05-06 13:58] milseman commented on #345
Status?

[2022-05-06 13:58] milseman commented on #346
Status?

[2022-05-06 13:59] milseman commented on #347
Status?

[2022-05-06 13:59] milseman commented on #348
Status?

[2022-05-06 14:00] milseman commented on #63
@hamishknight can you go over this and see what needs to be tracked as an issue for this release and what needs to go into https://github.com/apple/swift-experimental-string-processing/issues/370?

[2022-05-06 14:00] milseman commented on #73
@rxwei is there anything left to track here, or should we close this?

[2022-05-06 14:01] hamishknight commented on #303
@milseman Sure, how do we want to classify a metacharacter scalar? Should we limit it to `[](){}^$.|\` for now, or just any non-letter non-number non-`\r\n` ASCII? I'm inclined to say the latter, what do you think?

[2022-05-06 14:03] milseman commented on #116
Oh right, forgot Github had that feature. Neat.

[2022-05-06 14:07] milseman commented on #303
Hmm, we also have contextual meta-characters as well as escapes. If we have `try Regex("\\d\u{301}")` what should we do?

- `[^\u{301}a-f]`
- `(?<\u{301}name>.)`
- `(?>\u{301}.)`

(where the `\u{301}` is not a regex literal scalar but a string literal scalar)

[2022-05-06 14:13] hamishknight commented on #303
@milseman I believe that's already rejected due to being an unknown letter escape:

https://github.com/apple/swift-experimental-string-processing/blob/09a385bf4ffcc3d0d26e54a592ea87f9cc50c948/Tests/RegexTests/ParseTests.swift#L2340

[2022-05-06 15:18] #340 closed

[2022-05-06 16:41] itingliu commented on #320
This is merged in 342

[2022-05-06 16:41] #320 closed

[2022-05-06 16:42] itingliu commented on #308
Yes it's done.

[2022-05-06 16:42] #308 closed

[2022-05-06 19:08] Azoy commented on #314
The updates I had for PrettyPrinter were merged into main a little bit ago. For Nate's example specifically, we print
[code]
which isn't *quite* right. IIRC it still needs to support changing matching options.

[2022-05-06 19:50] milseman commented on #303
Great! I don't know of an organic case for ASCII `[^a-zA-Z0-9]` with a combining scalar or anything like that. It seems like a good first approximation and we can relax it in the future. Alternatively, we could do it for all meta or contextually-meta characters.

There's also a canonical equivalent for `?`, IIRC. @Azoy do you recall the details?

[2022-05-06 20:25] Azoy commented on #303
I believe there are scalars who have compatibility equivalents with `?`, but I don't believe there are any canonical ones.

[2022-05-06 20:58] natecook1000 commented on #375
Oh, interesting — I didn't know that behavior existed! I'll get it added to the Unicode proposal, yes.

[2022-05-06 21:06] natecook1000 commented on #375
Actually, do you have an example of how this isn't working how you'd expect? If `\N` is supposed to be an inverse of `\n`, which I think we're going to treat basically like `\R`, then it should also be affected by things like `.asciiOnlyWhitespace()`.

[2022-05-06 21:09] hamishknight commented on #375
Hmm, it was my understanding that it followed `.`'s newline behavior (i.e not being affected by ASCII-only whitespace). PCRE defines it as:

[2022-05-06 21:13] hamishknight commented on #375
Oniguruma defines it as:

[code]

which is now extra confusing because Oniguruma seems to define `(?m)` differently to PCRE?

[code]

[2022-05-06 21:16] hamishknight commented on #375
That being said, I'm fine if we want to define it as the inverse of `\R`

[2022-05-09 14:03] hamishknight opened #387 "Non-semantic whitespace doesn't work for character class ranges"
The following doesn't parse correctly:

[code]

[2022-05-09 14:13] hamishknight opened #388 "Implement named backreference support"
Named backreferences e.g `(?<x>)\k<x>` are not currently supported, but it seems like we ought to be able to lookup the capture index from the capture list, and emit it the same as a numbered backreference (i.e `\1`).

[2022-05-09 16:03] milseman commented on #388
Relative is less important than named. Let's try to get named in

[2022-05-09 16:25] natecook1000 opened #389 "Implement case-folded comparisons as stdlib SPI"
Following on the behavior improvement in #383, we should provide case-folded comparisons as stdlib SPI. We should be able to skip UTF-8 encoding and do character-by-character canonicalization much more efficiently that way.

[2022-05-09 16:33] natecook1000 commented on #310
This was resolved in #382.

[2022-05-09 16:33] #310 closed

[2022-05-09 16:35] natecook1000 commented on #312
Still to-do. Do you have ideas about how to handle this on the builder side? We don't have a way to prevent this in the type system — what kind of warning / error can we raise during compilation?

[2022-05-09 16:35] natecook1000 commented on #345
Still to-do.

[2022-05-09 16:38] natecook1000 commented on #375
I think this is the tricky bit:

In addition to changing the behavior of `.` and `\s`, does switching option modes also change what character signify the end of a line? I'd expect that "the end of a line" would be equivalent to what `\R` matches. If you only want to recognize ASCII whitespace, you don't want to let non-ASCII line-break character define where lines start and end.

[2022-05-09 16:41] natecook1000 commented on #347
The current behavior is described in the algorithms proposal, in which that regex will produce two matches: `startIndex..<startIndex` and `endIndex..<endIndex`. If we want to change that behavior, we would need to add an option to the regex engine to disallow empty matches at a specific index, so that processing could flow through to the second alternation in the second attempt.

[2022-05-09 16:41] natecook1000 commented on #348
I don't believe this is implemented in the builder or the regex syntax.

[2022-05-09 16:42] natecook1000 commented on #346
Still to-do.

[2022-05-09 16:46] hamishknight commented on #375
PCRE at least defines newline conventions and `\R` differently. Newline conventions are affected by [these global options](http://pcre.org/current/doc/html/pcre2pattern.html#SEC2) (under the heading "Newline conventions"):

[code]

And PCRE says:

[2022-05-09 19:54] #116 closed

[2022-05-09 19:54] #264 closed

[2022-05-09 19:54] #357 closed

[2022-05-09 19:55] hamishknight commented on #312
Ah this should probably remain open for the `RegexBuilder` part?

[2022-05-09 23:16] #284 closed

[2022-05-10 12:03] hamishknight opened #394 "Diagnostic Improvements"
This tracks some improvements we can make to the parser diagnostics we currently emit

- Add octal fix-it for e.g `[\7]`
- For e.g `\p{otherLowercase}`, redirect users to `\p{isAlphabetic}`

[2022-05-10 12:16] hamishknight opened #395 "Case insensitivity behavior of character class ranges differs from PCRE"
PCRE allows `(?i)[B-a]`, which matches e.g `B`, `[`, `b`, and `A`. However, we crash at runtime.

rdar://96898279

[2022-05-10 13:52] milseman commented on #264
@hamishknight are we tracking branch reset groups anywhere? I believe we were parsing them but I don't know if we implemented renumbering logic or not.

[2022-05-10 13:54] hamishknight commented on #264
They're in https://github.com/apple/swift-experimental-string-processing/issues/370

[2022-05-10 14:15] hamishknight commented on #312
It does fail compilation at run time, yes. I wasn't sure whether it was worth leaving this issue open to track more improvements in that area, but sounds like it would be a more general thing.

[2022-05-10 14:15] #312 closed

[2022-05-11 09:48] hamishknight opened #399 "Flatten optionality of regex captures"
We currently nest optionals for regex literal captures, we should flatten them out to match the regex literal proposal.

[2022-05-11 09:49] hamishknight commented on #399
@milseman do you recall what needs to be done here? Are we also proposing to flatten the dynamic captures of `Regex.init` (i.e only the DSL should have nested optional captures)?

[2022-05-11 15:39] stephentyrone opened #401 "Digit matching behaving as intended?"
Reposted from the Swift forums: https://forums.swift.org/t/bad-digit-matching-bugreport-regarding-se-0354-regex-literals/57262/1

Problem: Some digit character groups match number-like grapheme clusters.

[code]

Above described behavior seems inconsistent and difficult to predict. Shouldn't [1-2] and [12] be identical? Should they match anything outside of ascii?

Note: :one: is U+0031 (ascii dig

[2022-05-11 16:00] NikolaiRuhe commented on #401
If there are questions about my report: I'm following this issue.

[2022-05-11 16:32] milseman commented on #401
Note that the emoji compares between `"1"` and `"2"` as a Character. @natecook1000

[2022-05-11 16:45] NikolaiRuhe commented on #401
This explains a lot of above behavior—at least technically. On the other hand it scares me away from using regular expressions when writing code that should sanitize arbitrary input.

Maybe an ascii-only mode would help? In my code I'm manually checking input now:

`input.utf8.allSatisfy { $0 <= 127 }`.

[2022-05-11 18:50] natecook1000 commented on #401
Thanks for the example, @NikolaiRuhe! It looks like custom character class ranges will need something a bit different than `Character.<`, at least by default.

[2022-05-12 03:18] milseman commented on #401
Note that in scalar semantics you should get your desired behavior. It's a reasonable interpretation to extend `A-Z` to `"A"..."Z"`, but probably undesirable and counter intuitive. The Unicode pitch was arguing for using NFD for ranges, but that wouldn't affect this example.

[2022-05-13 14:21] #303 closed

[2022-05-17 17:01] milseman opened #420 "Substring matches base?"
From [the forums](https://forums.swift.org/t/se-0357-regex-string-processing-algorithms/57225/5)

[code]

[2022-05-17 17:53] #420 closed

[2022-05-22 07:38] christopherweems opened #426 "Type-erasing `Regex<AnyRegexOutput>.init(_:)` is not implemented"
Throws a fatal error with `FIXME: Not implemented`

I'm raising this issue as request to not drop this functionality (however unlikely that is).
It will have its uses!

[2022-05-22 07:45] christopherweems commented on #426
https://github.com/apple/swift-experimental-string-processing/blob/88dc9dd3f10e6e49a1aae39113e000664d457821/Sources/_StringProcessing/Regex/AnyRegexOutput.swift#L227

[2022-05-22 18:26] christopherweems commented on #426
Decided to jump in and fix this & found that it had all ready been implemented in #376! Big thanks to @Azoy.

[2022-05-22 18:26] #426 closed

[2022-05-22 20:38] rxwei opened #427 "Update integration doc on README"
The integration section in the README needs an update.
- Remove _CUnicode module as it no longer exists.
- Add RegexBuilder as another "specially integrated module".

[2022-05-24 10:14] hamishknight opened #429 "Allow empty inline comments"
We currently reject `(?#)`, but it should be allowed.

[2022-05-24 10:35] hamishknight opened #430 "Allow end-of-line comments in custom character classes"
We currently don't parse end-of-line comments as comments in a character class such as:

[code]

However ICU supports this.

[2022-05-25 12:44] #387 closed

[2022-05-25 12:44] #429 closed

[2022-05-25 12:44] #430 closed

[2022-05-25 16:07] #388 closed

[2022-05-25 17:17] natecook1000 opened #437 "Implement the special Java character properties"
These character properties are described in the [regex syntax proposal](https://github.com/apple/swift-evolution/blob/main/proposals/0355-regex-syntax-run-time-construction.md#character-properties) but are not implemented:

[2022-05-26 19:49] hamishknight commented on #437
So it turns out that while those are the properties listed in Java's docs, there are actually quite a few more of them, as they correspond directly to various `is` accessors on `java.lang.Character`. I have put up a PR to parse them: https://github.com/apple/swift-experimental-string-processing/pull/440.

[2022-05-27 18:59] hamishknight opened #449 "Better parser recovery"
Currently we `throw` parser errors. While this is very convenient, we need to start recovering where we can, and still produce an AST.

[2022-05-28 11:59] hamishknight opened #451 "_RegexParser fails to build with a 5.6 toolchain"
When doing a `--bootstrapping=hosttools` Swift compiler build with Xcode 13.4, you get the error:

[code]

We should ideally allow _RegexParser to compile with a 5.6 toolchain.

[2022-05-28 12:03] #451 closed

[2022-05-31 20:12] natecook1000 opened #463 "Adopt swift-atomics as a dependency"
If we take the approach in #457 of subsetting a sliver of [swift-atomics](https://github.com/apple/swift-atomics), we should switch to rely on the actual package when we're able to do so. (i.e. when that doesn't pose problems for integration into the compiler, etc.)

[2022-06-01 16:40] natecook1000 opened #465 "Implement `UnicodeScalar.init?(named:)`"
This is required to implement #270 — we'll need to be able to look up a Unicode scalar by its name or any of the name aliases (not just the corrections).

[2022-06-07 20:04] #267 closed

[2022-06-08 16:02] hamishknight opened #472 "`\o` crashes the parser"
`/\o/` hits a fatal error in the parser

[2022-06-08 18:19] hamishknight opened #473 "Large quantifiers hit assertion in Instruction.Payload"
`a{65536}` hits an assertion when compiling. Looks like `Instruction.Payload` currently packs to 16 bits, but we should probably at least throw an error so we don't silently lop off bits in a release build.

[2022-06-08 18:19] hamishknight commented on #473
cc @milseman

[2022-06-13 11:33] hamishknight opened #478 "Off by one error for `Repeat(...)`"
From https://forums.swift.org/t/regexbuilder-repeat-range-off-by-one/58079:

[code]

Looks like we're converting `0...1` to `0..<2` and then initializing a quantification `.upToN` without adjusting the upper bound down.

[2022-06-13 11:34] hamishknight commented on #478
cc @rxwei

[2022-06-15 01:00] milseman opened #483 "[Benchmark] Excessive (and expensive) backtracking"
From [the forums](https://forums.swift.org/t/performance-of-the-new-regex-in-swift-5-7-degrades-quadratically-without-need/58122):

[code]

[2022-06-15 16:44] milseman commented on #483
@rctcwyvrn, can you add this to the benchmark suite you're working on? Lots of opportunities exposed here.

We don't have a compiler IR yet, so we don't want to layer on excess complexity while the execution model is still settling down. But, there's _a ton_ of low-hanging fruit here.

---

`Processor.consume()` calculates the remaining size of the input slice. Switching to `index(offsetBy:limited

[2022-06-16 16:56] #472 closed

[2022-06-17 16:49] milseman commented on #483
20x improvement to this micro (nano?) benchmark we extracted from this report: https://github.com/apple/swift-experimental-string-processing/pull/494

[2022-06-17 19:42] milseman commented on #483
A compounding 2x in https://github.com/apple/swift-experimental-string-processing/pull/495

[2022-06-17 21:29] milseman commented on #483
A compounding 2-7x, depending, in https://github.com/apple/swift-experimental-string-processing/pull/497

[2022-06-21 17:56] rxwei commented on #478
@milseman maybe a bug in the quantification algorithm in ByteCodeGen?

[2022-06-21 21:43] milseman commented on #478
As Hamish said, `0...1` is converted to `0..<2` which is fine, but that is then converted to `.upToN(2)` which is not, because that means `{,2}`.

[code]

Those can't all be the same notion of `n`.

[2022-06-28 13:41] Kyle-Ye opened #516 "Inconsistance throwing behavior on String and Regex's xxMatch"
https://forums.swift.org/t/inconsistance-throwing-behavior-on-string-and-regexs-xxmatch/58535

We have `public func wholeMatch(in s: String) throws -> Regex<Output>.Match?` method on `Regex` and `public func wholeMatch<R>(of r: R) -> Regex<R.RegexOutput>.Match? where R : RegexComponent` on `String`.

Their usage is something like the following and IMO they can exchange in some extend.
[code]

So m

[2022-06-28 16:20] milseman commented on #516
https://forums.swift.org/t/inconsistance-throwing-behavior-on-string-and-regexs-xxmatch/58535/2

[2022-06-28 16:20] #516 closed

[2022-06-29 15:03] hamishknight commented on #63
We've completed the syntax feature work here, future syntax work is being tracked by https://github.com/apple/swift-experimental-string-processing/issues/370

[2022-06-29 15:03] #63 closed

[2022-06-30 19:23] #449 closed

[2022-07-01 18:38] #478 closed

[2022-07-04 15:02] hamishknight opened #537 "`CharacterClass.newlineSequence` crashes as unsupported"
For the following:

[code]

Crashes with:

[code]

rdar://96330096

[2022-07-04 15:08] hamishknight opened #538 "`CharacterClass.anyUnicodeScalar` crashes"
For the following:

[code]

Crashes with:

[code]

However it's not clear this API should still exist, as it was removed from https://github.com/apple/swift-evolution/blob/main/proposals/0363-unicode-for-string-processing.md.

[2022-07-04 15:09] hamishknight commented on #537
cc @natecook1000

[2022-07-04 15:14] hamishknight opened #539 "Implement `CharacterClass.anyNonNewline`"
This is proposed in https://github.com/apple/swift-evolution/blob/main/proposals/0363-unicode-for-string-processing.md, but doesn't seem to be on main yet.

rdar://97029702

[2022-07-04 15:14] hamishknight commented on #539
cc @natecook1000

[2022-07-05 10:22] hamishknight commented on #538
@milseman Just to be clear, it was explicitly removed from the Unicode proposal, and is currently listed [as an alternative considered](https://github.com/apple/swift-evolution/blob/main/proposals/0363-unicode-for-string-processing.md#include-o-and-characterclassanyunicodescalar). I also noticed that it includes `\O`. I have put up a PR to bring the implementation in-line with the proposal: #540.

[2022-07-05 19:04] hamishknight opened #542 "`(a*)*` spins the matching engine forever"
Attempting to match the input `"a"` against the pattern `(a*)*` appears to spin the matching engine forever.

rdar://96461197

[2022-07-05 19:04] hamishknight commented on #542
cc @milseman

[2022-07-05 19:22] hamishknight opened #543 "Failed captures produced `.some(nil)`"
For e.g:

[code]

matching against the empty input yields a capture of `.some(nil)`. We ought to produce `nil`.

[2022-07-05 20:31] milseman commented on #542
This is a common/natural fall out of simple backtracking. We'll want to eventually have loop analysis over an IR to avoid it, but there might be a shorter term fix we can do.

[2022-07-06 11:21] hamishknight opened #553 "`CharacterClass.any` doesn't match newlines"
https://github.com/apple/swift-evolution/blob/main/proposals/0363-unicode-for-string-processing.md states that:

[code]

however the following:

[code]

does not match against a newline input.

rdar://96509234

[2022-07-06 12:44] hamishknight opened #555 "Fix failing DSL tests"
The two variants of the test:

[code]

appear to be failing with the updated test logic.

[2022-07-06 20:56] rctcwyvrn opened #558 "Null alternation causes infinite loop"
The first regex runs instantly as expected, but the second one appears to run forever. The first has `@` in the alternation while the second has it outside as an anchor.

Running them on regex101 shows that their engines run the two regexes in a similar number of cycles and match the same results.

[code]

[2022-07-06 21:03] rctcwyvrn commented on #558
There was a typo in my regex, the last alternation in `(?:\d|\w|\.|-|_|%|\+|)` is empty and that seems to be the issue

This regex runs correctly `#"(?:\d|\w|\.|-|_|%|\+)+@(?:\d|\w|\.|-|_|%|\+)+"#`

This regex loops forever `#"(\w|)+"#`

[2022-07-06 22:14] rctcwyvrn commented on #558
The loop is caused by `DSLTree.Node.empty` emitting no instructions, resulting in the alternation instruction jumping to the instruction after the alternation instead of the second alternative.

More precisely, what we currently do is

For each alternation except for the last one
1. Emit a save point to the next alternation
2. Emit instructions for the current alternation
3. Branch to end
4. Loop

[2022-07-06 23:08] rctcwyvrn commented on #558
There are many other edge cases that result in the same issue as this empty alternative
- `"(?:\w|(?i-i:))+"` last alternative is a non-capturing group that only changes matching options
- `(?:\w|(?#comment))+` last alternative is a `trivia`
- `(?:\w|(?#comment)(?i-i:))+` last alternative is a concatenation that only contains nodes that don't emit instructions

The most optimal way of doing this w

[2022-07-07 00:15] rctcwyvrn commented on #558
This is actually a more fundamental issue with how we do our quantification, not the lack of emitting instructions.

`(\b)+` should match every boundary in the string, however the way we emit quantifiers doesn't handle cases where we match the subexpression but don't advance our input, in those cases we need to recognize that we're doing a zero length match and branch out of the quantification loo

[2022-07-08 11:16] hamishknight opened #563 "UnicodeScalar as a RegexComponent uses scalar semantics even under grapheme semantic mode"
The following produces a match:

[code]

however under grapheme semantic mode, it shouldn't. This also affects the `CharacterClass.anyOf` API, e.g:

[code]

also incorrectly produces a match (the use of ` "👍"` is to defeat an optimization that would otherwise have the correct semantics).

rdar://96662651

[2022-07-08 12:32] hamishknight opened #564 "Preserve scalar syntax in DSL conversion"
When attempting to convert `/\u{B4}/` to the DSL, you get:

[code]

we ought to try and preserve the users original syntax and use `\u{B4}` instead.

[2022-07-08 22:28] buttaface opened #566 "This repo has no snapshot tags or versioning so it is checked out at random commits"
Now that it is enabled by default with apple/swift#42611, it is past time it either had trunk snapshot tags or was checked out at some set version, [rather than whatever the latest commit on the swift/main branch happens to be](https://github.com/apple/swift/blob/main/utils/update_checkout/update-checkout-config.json#L125).

[2022-07-11 19:15] buttaface commented on #566
@shahmishal, I don't know if you need to set this up, or if the repo maintainers can.

[2022-07-11 20:59] #542 closed

[2022-07-11 20:59] #558 closed

[2022-07-12 00:25] rctcwyvrn opened #567 "Large regression in word boundary regexes"
I was running the benchmarker for this regex `#"<(\w*)\b[^>]*>(.*?)<\/\1>"#` which uses `\b` to match the end of a html tag and noticed it was running _really_ slow

ed842cbb844a670314f22b37936b654748fad91d
[code]
`main`
[code]

Some amount of regression was expected with the implementation of the new word breaking algorithm but a 300x slowdown seems unacceptable. A quick profile shows that ~90% o

[2022-07-12 16:29] hamishknight opened #568 "`[\n]` should not match `\r\n`"
Currently `[\n]` matches `\r\n` in grapheme semantic mode, however this should not be the case.

[2022-07-12 17:18] milseman commented on #567
@Azoy is this because the SPI is inefficient, or any thoughts on what to do here?

[2022-07-12 17:21] milseman commented on #568
This is open for debate as to whether we consider `\n` to be a literal scalar escape or some kind of newline character class.

[2022-07-12 17:31] hamishknight commented on #568
@milseman AFAIK other engines treat `[\n]` as equivalent to `\n`. We could define it differently, though that would also mean we'd also have to ban its use as a range operand e.g `[\n-0]`

[2022-07-12 18:44] #563 closed

[2022-07-12 19:17] #568 closed

[2022-07-12 19:17] hamishknight commented on #568
Happy to re-open if we decide we want a custom matching behavior instead

[2022-07-12 19:18] Azoy commented on #567
yeah the current implementation of `String.isOnWordBoundary` in this repo is really inefficient and was fully expecting perf to be pretty bad. Once `_nearestWordIndex(atOrBelow:)` is fixed, I think this operation will get considerably faster.

[2022-07-13 00:23] milseman opened #571 "DSL's `.startOfLine` should match at start of line."
Currently the DSL's `.startOfLine` anchor maps to the literal's `^`, which is start of input or line depending on options. As proposed it should match at the start of any line. We should probably rename the AST's anchor kind and DSLTree should support a lowered anchor.

rdar://97029630

[2022-07-13 00:23] milseman commented on #571
Similarly for `.endOfLine`.

[2022-07-13 10:37] hamishknight opened #572 "Adjacent scalars in the DSL should be coalesced"
For example:

[code]

should match `"👨‍👨‍👧‍👦"`.

[2022-07-13 16:28] hamishknight opened #573 "Better preserve scalar syntax in DSL transform"
We currently transform `a\u{301}` into:

[code]

we ought to try and preserve the `\u{301}` syntax the user wrote.

[2022-07-14 18:41] hamishknight opened #579 "Add builtin character class atoms to the DSL tree"
For the following escape builtins:

- `graphemeCluster`
- `whitespace`
- `decimalDigit`
- `horizontalWhitespace`
- `newlineSequence`
- `verticalTab`
- `wordCharacter`

We currently form DSL character classes using their unconverted AST atoms. We ought to have DSL representations for them, perhaps under an e.g `BuiltinCharacterClass`  type.

[2022-07-14 18:42] hamishknight commented on #579
This could also be done alongside migrating them off consumers and onto dedicated instructions in byte code gen

[2022-07-15 09:15] #537 closed

[2022-07-15 09:15] #539 closed

[2022-07-15 09:15] #553 closed

[2022-07-15 09:15] #571 closed

[2022-07-15 15:08] hamishknight opened #584 "`Anchor.inverted` does not have any effect on most members"
For:

- `Anchor.startOfSubject`
- `Anchor.endOfSubjectBeforeNewline`
- `Anchor.endOfSubject`
- `Anchor.firstMatchingPositionInSubject`
- `Anchor.startOfLine`
- `Anchor.endOfLine`

Using the `inverted` member currently has no effect. We ought to implement the right behavior.

rdar://97075024

[2022-07-18 10:32] hamishknight commented on #579
Lily has a PR for this

[2022-07-18 15:43] hamishknight opened #586 "Quoted character class sequences don't match in scalar mode"
For `[\Qe\u{301}\E]` (where `e\u{301}` is a literal decomposed character) in scalar semantic mode, it still matches as if it were in grapheme mode, i.e matching `e\u{301}`, but not `e`.

rdar://97209131

[2022-07-23 12:44] buttaface commented on #566
@rxwei, you added this branch to the main repo in apple/swift#41588, let me know what you think.

[2022-07-23 22:40] rxwei commented on #566
It's actually intentional that a developer needs to pull swift/main to build it with swift's main branch, which is exactly how it works with swift-driver and swift-tools-support-core.

[2022-07-24 06:49] buttaface commented on #566
That's fine for casual development, but both [swift-driver](https://github.com/apple/swift-driver/tags) and [swift-tools-support-core](https://github.com/apple/swift-tools-support-core/tags) provide snapshot tags, so that anyone building trunk or the 5.7 branch can check out those repos at a verified tag. Otherwise, you're stuck in a situation like with this repo, where if there are recent commits

[2022-07-24 07:04] rxwei commented on #566
Ok I see what you mean. I think the snapshot tags should be set up. @shahmishal

[2022-07-25 17:30] #395 closed

[2022-07-25 17:30] #401 closed

[2022-07-26 14:14] #586 closed

[2022-07-26 14:14] #573 closed

[2022-08-03 19:59] rctcwyvrn commented on #579
Fixed in https://github.com/apple/swift-experimental-string-processing/pull/547

[2022-08-03 19:59] #579 closed

[2022-09-14 06:46] buttaface commented on #566
Ping again, I'd like to build this repo as part of my daily Android CI, which downloads the latest Swift source snapshots and cross-compiles them for Android, but that requires more work to automate as long as this repo has no automated tags.

[2022-10-02 05:05] CodaFi opened #608 "'behavior' Parameter Passed In The Wrong Order in Regex Builder Refactoring"
In Xcode 14.1 beta 3, this regex

[code]

Expands to this regex builder

[code]

Which fails to type check because `ZeroOrMore` takes the component first and the behavior second when not passed a trailing closure that produces a component.

[2022-10-04 15:38] milseman commented on #608
CC @DaveEwing

[2022-10-06 18:27] Azoy commented on #608
On main this get's printed as:
[code]
with the comment that the DSL'S `.any` is not equivalent to `/./`. cc: @hamishknight

[2022-10-06 18:52] lorentey opened #609 "Regex: Inconsistent atomic access"
In `Regex/Core.swift`, we have the following code:

[code]

This allows regular non-atomic loads of the `_loweredProgramStorage` variable to occur concurrently with atomic updates (cmpxchg) of it. This is explicitly undefined behavior per the Law of Exclusivity:

We _must_ avoid such accesses by converting the nonatomic load into an atomic load instruction:

[code]

On a secondary note, in case th

[2022-10-06 22:25] #609 closed

[2022-10-07 10:56] hamishknight commented on #608
Yeah the `.` of a regex literal has different newline matching behavior to `.any`. However looks like this is still an issue for other elements, e.g on main `/\d*?/` gets refactored to:

[code]

[2022-10-30 00:21] benpious opened #805 "RegexBuilder w/ custom component "fails to cast," crashes"
**Describe the bug**
It's possible to write a RegexBuilder (provided below) using the DSL and a `CustomConsumingRegexComponent` which Swift type-checks and compiles, but then crashes at runtime, in the internals of the regex library itself, claiming that it can't cast the output of a regex to the expected value. I may have missed something in the documentation, but my understanding was that one of

[2022-11-02 06:36] fwgreen opened #612 "Wider than expected performance gap between NSRegularExpression and StringProcessing"
I know that the optimization work is yet to come, but I'm wondering if this could be caused by something else.  I have two versions of RegexRedux and, on my M1, processing the full 50 MB text file takes roughly 9 seconds with NSRegularExpression and over 3 minutes with StringProcessing:
[code]
Except for the `countMatches` extension on `String`, I've tried to keep both programs roughly the same.
[

[2022-11-02 11:20] buttaface commented on #566
@rxwei, I see no commits to the swift/main branch in the last two months: maybe you can tag that last commit as a release and use it instead in the update-checkout script? Even if you don't change how that toolchain script checks this repo out, simply providing a tag will make it easier for downstream users like me to check it out.

[2022-11-02 17:58] rxwei commented on #566
@stephentyrone @shahmishal

[2022-11-18 14:03] fwgreen opened #613 "matches(of:) and firstMatch(of:) behave differently when multiline is used with negative lookahead"
[code]

Expected output:
[code]
Actual output:
[code]
While removing multiline fixes it, this is only one capture group of a larger regex; and it works as expected, with multiline, in both Java (on my local machine) and the PCRE2 flavor on [Regex101.com](https://regex101.com/r/AV6ASe/1).

[2022-11-28 16:04] natecook1000 commented on #613
This is caused by the default word-boundary algorithm used by `Regex`, which recognizes [Unicode "default" word boundaries](https://www.unicode.org/reports/tr29/#Word_Boundaries) instead of the "simple" word boundaries used by other regular expression engines. In particular, the default word-boundary algorithm _always_ sees the position at the start and end of a string, and before and after line b

[2022-11-28 16:06] #613 closed